
{% block fos_user_content %}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 2 | Log in</title>
        <link rel="icon" type="image/png" sizes="56x56" href="{{ asset('images/them-logo/favicon-1.png') }}">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="{{ asset('Admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('Admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('Admin/bower_components/Ionicons/css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('Admin/dist/css/AdminLTE.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('Admin/plugins/iCheck/square/blue.css') }}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body class="hold-transition register-page">

    {% trans_default_domain 'FOSUserBundle' %}
    <div class="register-box">
        <div class="register-logo">
            <a href="{{ path('index') }}"><b>Enregistrez-vous</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">S'enregistrer</p>

            <form action="{{ path('fos_user_registration_register') }}" method="post">
                <div class="form-group has-feedback">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'type': 'text', 'placeholder': 'Nom d\'utilisateur'} }) }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'type': 'email', 'placeholder': 'Email'} }) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Mot de passe'} }) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Retapez le mot de passe'} }) }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Retapez le mot de passe'} }) }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group">
                    {{ form_widget(form.roles) }}
                </div>
                {{ form_rest(form) }}
                <div class="row">
                    <div class="col-xs-6"></div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">S'enregistrer</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="{{ path('fos_user_security_login') }}" class="text-center">J'ai déjà un compte</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    </body>
</html>

{% endblock fos_user_content %}